root = true

[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1633: The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1127: Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = none

# SA1309: Fields should not begin with an underscore
dotnet_diagnostic.SA1309.severity = none